.committee-search__header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.committee-search__title {
  align-items: center;
}

.committee-search__search {
  padding: 0;
}

.committee-search__list {
  background-color: #fff;
  max-height: 800px;
  overflow-y: auto;
}

.committee-search__item {
  border-bottom: 1px solid #dddbda;
  padding-bottom: 10px;
  padding-top: 10px;
}

.committee-search__item:first-of-type {
  padding-top: 0;
}

.committee-search__item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.committee-search__name {
  font-size: 14px;
  font-weight: bold;
}

.committee-search__loading {
  height: 30px;
  position: relative;
}